
ADTs/.idea/.name

*.xml

*.iml

*.beam

Praktikum/out/production/Praktikum/arrayS.erl

Praktikum/out/production/Praktikum/arrayS.erl

Praktikum/out/production/Praktikum/arrayS.erl

Praktikum/out/production/Praktikum/liste.erl

Praktikum/out/production/Praktikum/schlange.erl

Praktikum/out/production/Praktikum/sortNum.erl

Praktikum/out/production/Praktikum/stack.erl

Praktikum/out/production/Praktikum/arrayS.erl

Praktikum/out/production/Praktikum/liste.erl
